@font-face {
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  font-family: Roboto;
  src: url(../font/Roboto-Regular.ttf);
}
@font-face {
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  letter-spacing: normal;
  font-family: Roboto-Medium;
  src: url(../font/Roboto-Medium.ttf);
}
@font-face {
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  font-family: Roboto-Bold;
  src: url(../font/Roboto-Bold.ttf);
}
.theme-light body {
  color: black;
  background-color: #fff;
}
.theme-light .login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-light .login-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}
.theme-light .login-button {
  color: white;
  background-color: #1255cc;
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
  margin: 20px;
}
.theme-light .away-button {
  color: #ffab40;
  min-inline-size: fit-content;
  font-size: 15px !important;
  font-weight: 900 !important;
}
.theme-light .away {
  color: #ffab40 !important;
}
.theme-light .away > .MuiBox-root {
  justify-content: center;
}
.theme-light .away > .MuiBox-root > .MuiTypography-body1 {
  font-size: 14px;
}
.theme-light .away.selected-task {
  color: #fff !important;
  background-color: #ffab40;
}
.theme-light .away.selected-row {
  background-color: rgba(235, 176, 100, 0.1);
}
.theme-light .stat-blue.selected-row {
  background-color: rgba(70, 152, 242, 0.1);
}
.theme-light .submitted {
  color: #239f28 !important;
}
.theme-light .search-field {
  color: black;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.theme-light .search-field > .MuiInputBase-root > fieldset {
  border-color: black;
}
.theme-light .search-field > .MuiInputBase-root {
  color: black;
}
.theme-light .search-field > .MuiInputBase-root > .MuiOutlinedInput-input {
  padding: 14px 14px;
  font-size: 14px;
  border: none;
  font-family: Roboto;
}
.theme-light .search-field > .MuiInputBase-root > .MuiOutlinedInput-notchedOutline {
  border: none;
}
.theme-light .search-field > .MuiInputLabel-outlined {
  color: black;
}
.theme-light .search-list {
  overflow: auto;
  max-height: calc(100vh - 140px);
  height: calc(100vh - 140px);
  padding: 0px 0px !important;
  background-color: #fff;
}
.theme-light .search-list > .MuiListItem-root:not(.selected-project) > .MuiListItemText-root > .MuiTypography-root {
  color: black;
}
.theme-light .search-list > .MuiListSubheader-root {
  color: gray;
  background-color: #fff;
  text-transform: uppercase;
  padding-left: 10px !important;
}
.theme-light ::-webkit-scrollbar {
  width: 4px;
}
.theme-light ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.theme-light ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}
.theme-light ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
.theme-light .calendar-button {
  min-width: 36px;
}
.theme-light .left-button {
  margin-right: 0px !important;
}
.theme-light .left-button > .MuiButton-label {
  margin-right: -10px;
}
.theme-light .header-button {
  color: black;
  text-transform: capitalize;
  background-color: #f2f2f2;
  height: 100%;
  margin: 0px 5px;
}
.theme-light .MuiButton-contained {
  box-shadow: none;
}
.theme-light .MuiButton-contained.Mui-disabled {
  background-color: #f2f2f2;
}
.theme-light .date-picker {
  width: 250px;
  margin: 0px 0px !important;
  height: 100%;
}
.theme-light .date-picker > .MuiInputBase-root {
  height: 100%;
  font-size: 14px;
  background-color: #f2f2f2;
}
.theme-light .date-picker > .MuiInputBase-root > fieldset {
  border: 0px;
}
.theme-light .date-picker > .MuiInputBase-root > .MuiInputBase-input {
  color: black;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  padding: 0px 10px !important;
}
.theme-light .search-close {
  padding: 10px;
  color: #635f5f;
}
.theme-light .popper-close {
  color: #635f5f;
  padding: 0;
}
.theme-light .popper-close > .MuiIconButton-label > .MuiSvgIcon-root {
  font-size: 13px;
}
.theme-light .submit {
  width: 106px;
  color: white;
  background-color: #1255cc;
}
.theme-light .gap-dot {
  color: #dddddd;
  font-size: 30px;
}
.theme-light .gap {
  border-right: solid 1px #dddddd;
  border-left: solid 1px #dddddd;
  border-top: solid 1px #dddddd;
  cursor: ew-resize;
  width: 10px;
}
.theme-light .left {
  height: 100%;
  overflow: hidden;
  border-top: solid 1px #dddddd;
}
.theme-light .bottom-scroll {
  margin-bottom: -5px;
}
.theme-light .middle {
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  border-top: solid 1px #dddddd;
}
.theme-light .middle::-webkit-scrollbar {
  height: 4px;
}
.theme-light .middle::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.theme-light .middle::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}
.theme-light .middle::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
.theme-light .right {
  height: 100%;
  border-left: solid 1px #dddddd;
  overflow: hidden;
  border-top: solid 1px #dddddd;
}
.theme-light .top-border {
  border-top: solid 1px #dddddd;
}
.theme-light .bottom-border {
  border-bottom: solid 1px #dddddd;
}
.theme-light .task-box {
  padding: 0px 15px;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #dddddd;
}
.theme-light .timeline-box {
  height: 100%;
  display: flex;
  overflow: hidden;
  opacity: 0.5;
  font-weight: 500;
  font-size: 12px;
  justify-content: center;
  user-select: none;
  align-items: center;
  font-family: Roboto-Medium;
}
.theme-light .highlight-task {
  background-color: whitesmoke;
}
.theme-light .task-badge {
  font-size: 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1255cc;
}
.theme-light .task-desc > .MuiTypography-body1 {
  font-family: Roboto;
  letter-spacing: 0;
}
.theme-light .selected-task {
  color: #fff;
  background-color: #1255cc;
}
.theme-light .chart-row-away.chart-block-empty.selected-row {
  background-color: rgba(235, 176, 100, 0.1);
}
.theme-light .chart-row-blue.chart-block-empty.selected-row {
  background-color: rgba(70, 152, 242, 0.1);
}
.theme-light .badge-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  background-color: #fff;
  border-radius: 7px;
  height: 12px;
}
.theme-light .menu-item-icon {
  font-size: 18px !important;
  min-width: 40px !important;
}
.theme-light .menu-item-typography {
  font-size: 14px !important;
}
.theme-light .header-task-list {
  justify-content: center;
  user-select: none;
  align-items: center;
  color: #1255cc;
}
.theme-light .header-task-list > .MuiBox-root > .MuiTypography-body1 {
  letter-spacing: -0.11px;
  font-size: 14px;
}
.theme-light .stat-box {
  padding: 0px 15px;
  color: #1255cc;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #dddddd;
  flex-direction: column;
}
.theme-light .stat-header {
  font-family: Roboto-Medium;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-size: 12px;
}
.theme-light .stat-block-empty {
  opacity: 0.5;
  color: black;
}
.theme-light .chart-activity-block-active {
  opacity: 0.4;
  background-color: #1255cc;
}
.theme-light .chart-activity-block-inactive {
  opacity: 0.4;
  background-color: #ff0000;
}
.theme-light .chart-activity-block-grey {
  background-color: #dddddd;
}
.theme-light .chart-block-blue {
  background-color: #1255cc;
}
.theme-light .chart-block-gray {
  background: whitesmoke;
}
.theme-light .chart-block-white {
  background-color: white;
}
.theme-light .chart-block-away {
  background-color: #ffab40;
}
.theme-light .chart-line-dragg > .chart-block {
  -webkit-box-shadow: inset 0px 1px 5px 0px #0277bd;
  -moz-box-shadow: inset 0px 1px 5px 0px #0277bd;
  box-shadow: inset 0px 1px 5px 0px #0277bd;
  z-index: 1;
}
.theme-light .chart-block {
  user-select: none;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  color: white;
}
.theme-light .chart-block > .MuiTypography-root {
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  font-size: 12px;
}
.theme-light .chart-block-title {
  font-family: Roboto;
}
.theme-light .chart-highlight {
  opacity: 0.3;
  background-color: #1255cc !important;
  z-index: 1;
}
.theme-light .chart-popper-box {
  padding: 12px 14px;
  color: black;
  background-color: #fff;
}
.theme-light .chart-popper-paper {
  background-color: #fff;
}
.theme-light .popper-title {
  font-size: 14px;
  font-weight: bold;
}
.theme-light .submenu > .MuiMenu-paper {
  color: black;
  background-color: #fff;
}
.theme-light .submenu > .MuiMenu-paper > .MuiMenu-list > .MuiMenuItem-root > .MuiTypography-root {
  font-family: Roboto;
}
.theme-light .submenu > .MuiMenu-paper > .MuiMenu-list > .MuiMenuItem-root > .MuiListItemIcon-root {
  color: black;
}
.theme-light .stat-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.theme-light .stat-footer > .MuiIconButton-root > .MuiIconButton-label {
  color: black;
}
.theme-light .search-list-body {
  margin: 10px 0;
  border: solid 1px #dddddd;
  border-radius: 3px;
}
.theme-light .search-list-subheader {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-family: Roboto-Medium;
}
.theme-light .table-row > .MuiListItemText-root > .MuiTypography-root {
  display: flex;
  justify-content: flex-start;
}
.theme-light .selected-project {
  background-color: #1255cc;
  color: white !important;
}
.theme-light .selected-project:hover {
  color: black !important;
}
.theme-light .search-item-title {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inherit;
  font-family: Roboto;
}
.theme-light .search-item-code {
  font-weight: bold;
  width: 130px;
  min-width: 130px;
  max-width: 130px;
}
.theme-light .search-item {
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  font-size: 14px;
}
.theme-light .search-title {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.9;
  letter-spacing: normal;
  font-family: Roboto-Bold;
}
.theme-light .time-field,
.theme-light textarea {
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 7px 8px;
  background: #ededed;
}
.theme-light .time-field {
  font-family: Roboto;
  letter-spacing: -0.11px;
  width: 45% !important;
}
.theme-light .popper-interval {
  font-size: 14px;
  padding-right: 10px;
  font-family: Roboto-Medium;
}
.theme-light .popper-save {
  color: white;
  height: 30px !important;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #1255cc;
  height: 100%;
  margin: 0px 5px;
}
.theme-light .sum-statistic-logged {
  color: #848484;
}
.theme-light .sum-statistic-submitted {
  color: #239f28;
}
.theme-light .sum-statistic-tracked {
  color: #1255cc;
}
.theme-light .sum-time {
  font-size: 12px;
}
.theme-light .sum-title {
  font-family: Roboto-Medium;
  font-size: 12px;
  text-transform: capitalize;
}
.theme-light .sum-statistic {
  text-align: right;
  padding: 0px 10px;
}
.theme-light .about-dialog-header > .MuiTypography-root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-light .about-dialog-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-light .about-copyright {
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: center;
}
.theme-light .calendr-box {
  padding: 12px 14px;
  color: black;
  background-color: #fff;
}
.theme-light .calendar-paper {
  background-color: #fff;
}
.theme-light .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-light .calendar-header-title {
  padding-left: 10px;
  font-size: 14px;
}
.theme-light .calendar-field {
  width: 250px;
  margin: 0px 0px !important;
  height: 100%;
}
.theme-light .calendar-field > .MuiInputBase-root {
  height: 100%;
  font-size: 14px;
  background-color: #f2f2f2;
}
.theme-light .calendar-field > .MuiInputBase-root > fieldset {
  border: 0px;
}
.theme-light .calendar-field > .MuiInputBase-root > .MuiInputBase-input {
  color: black;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  padding: 0px 10px !important;
}
.theme-light .calendar-week {
  min-height: 30px;
  padding: 0px 10px;
  display: flex;
  font-family: Roboto;
  font-size: 12px;
  user-select: none;
}
.theme-light .calendar-day-names {
  color: #848484;
  font-family: Roboto-Bold;
}
.theme-light .calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}
.theme-light .calendar-actual-day:hover {
  border: 1px solid #1255cc;
  border-radius: 50%;
}
.theme-light .calendar-body-stat {
  display: flex;
  border-top: solid 1px #dddddd;
}
.theme-light .calendar-body {
  border-right: solid 1px #dddddd;
  padding: 10px 0px;
}
.theme-light .calendar-stat {
  padding: 10px 0px;
}
.theme-light .calendar-stat-week {
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  font-family: Roboto;
  font-size: 12px;
}
.theme-light .calendar-stat-sum {
  font-family: Roboto-Bold;
  font-size: 12px;
}
.theme-light .calendar-stat-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-light .calendar-selected {
  border-radius: 50%;
  background-color: #1255cc;
  color: white;
}
.theme-light .calendar-select-week {
  background-color: rgba(70, 152, 242, 0.1);
}

.theme-dark body {
  color: white;
  background-color: #202124;
}
.theme-dark .login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-dark .login-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}
.theme-dark .login-button {
  color: white;
  background-color: #4698f2;
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
  margin: 20px;
}
.theme-dark .away-button {
  color: #ebb064;
  min-inline-size: fit-content;
  font-size: 15px !important;
  font-weight: 900 !important;
}
.theme-dark .away {
  color: #ebb064 !important;
}
.theme-dark .away > .MuiBox-root {
  justify-content: center;
}
.theme-dark .away > .MuiBox-root > .MuiTypography-body1 {
  font-size: 14px;
}
.theme-dark .away.selected-task {
  color: #fff !important;
  background-color: #ebb064;
}
.theme-dark .away.selected-row {
  background-color: rgba(235, 176, 100, 0.1);
}
.theme-dark .stat-blue.selected-row {
  background-color: rgba(70, 152, 242, 0.1);
}
.theme-dark .submitted {
  color: #00e578 !important;
}
.theme-dark .search-field {
  color: white;
  background-color: #37373d;
  border-radius: 5px;
}
.theme-dark .search-field > .MuiInputBase-root > fieldset {
  border-color: white;
}
.theme-dark .search-field > .MuiInputBase-root {
  color: white;
}
.theme-dark .search-field > .MuiInputBase-root > .MuiOutlinedInput-input {
  padding: 14px 14px;
  font-size: 14px;
  border: none;
  font-family: Roboto;
}
.theme-dark .search-field > .MuiInputBase-root > .MuiOutlinedInput-notchedOutline {
  border: none;
}
.theme-dark .search-field > .MuiInputLabel-outlined {
  color: white;
}
.theme-dark .search-list {
  overflow: auto;
  max-height: calc(100vh - 140px);
  height: calc(100vh - 140px);
  padding: 0px 0px !important;
  background-color: #202124;
}
.theme-dark .search-list > .MuiListItem-root:not(.selected-project) > .MuiListItemText-root > .MuiTypography-root {
  color: white;
}
.theme-dark .search-list > .MuiListSubheader-root {
  color: gray;
  background-color: #202124;
  text-transform: uppercase;
  padding-left: 10px !important;
}
.theme-dark ::-webkit-scrollbar {
  width: 4px;
}
.theme-dark ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.theme-dark ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
.theme-dark ::-webkit-scrollbar-thumb:hover {
  background: rgba(230, 230, 230, 0.5);
}
.theme-dark .calendar-button {
  min-width: 36px;
}
.theme-dark .left-button {
  margin-right: 0px !important;
}
.theme-dark .left-button > .MuiButton-label {
  margin-right: -10px;
}
.theme-dark .header-button {
  color: white;
  text-transform: capitalize;
  background-color: #37373d;
  height: 100%;
  margin: 0px 5px;
}
.theme-dark .MuiButton-contained {
  box-shadow: none;
}
.theme-dark .MuiButton-contained.Mui-disabled {
  background-color: #37373d;
}
.theme-dark .date-picker {
  width: 250px;
  margin: 0px 0px !important;
  height: 100%;
}
.theme-dark .date-picker > .MuiInputBase-root {
  height: 100%;
  font-size: 14px;
  background-color: #37373d;
}
.theme-dark .date-picker > .MuiInputBase-root > fieldset {
  border: 0px;
}
.theme-dark .date-picker > .MuiInputBase-root > .MuiInputBase-input {
  color: white;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  padding: 0px 10px !important;
}
.theme-dark .search-close {
  padding: 10px;
  color: #635f5f;
}
.theme-dark .popper-close {
  color: #635f5f;
  padding: 0;
}
.theme-dark .popper-close > .MuiIconButton-label > .MuiSvgIcon-root {
  font-size: 13px;
}
.theme-dark .submit {
  width: 106px;
  color: white;
  background-color: #4698f2;
}
.theme-dark .gap-dot {
  color: #565656;
  font-size: 30px;
}
.theme-dark .gap {
  border-right: solid 1px #565656;
  border-left: solid 1px #565656;
  border-top: solid 1px #565656;
  cursor: ew-resize;
  width: 10px;
}
.theme-dark .left {
  height: 100%;
  overflow: hidden;
  border-top: solid 1px #565656;
}
.theme-dark .bottom-scroll {
  margin-bottom: -5px;
}
.theme-dark .middle {
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  border-top: solid 1px #565656;
}
.theme-dark .middle::-webkit-scrollbar {
  height: 4px;
}
.theme-dark .middle::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.theme-dark .middle::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
.theme-dark .middle::-webkit-scrollbar-thumb:hover {
  background: rgba(230, 230, 230, 0.5);
}
.theme-dark .right {
  height: 100%;
  border-left: solid 1px #565656;
  overflow: hidden;
  border-top: solid 1px #565656;
}
.theme-dark .top-border {
  border-top: solid 1px #565656;
}
.theme-dark .bottom-border {
  border-bottom: solid 1px #565656;
}
.theme-dark .task-box {
  padding: 0px 15px;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #565656;
}
.theme-dark .timeline-box {
  height: 100%;
  display: flex;
  overflow: hidden;
  opacity: 0.5;
  font-weight: 500;
  font-size: 12px;
  justify-content: center;
  user-select: none;
  align-items: center;
  font-family: Roboto-Medium;
}
.theme-dark .highlight-task {
  background-color: #292a2d;
}
.theme-dark .task-badge {
  font-size: 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4698f2;
}
.theme-dark .task-desc > .MuiTypography-body1 {
  font-family: Roboto;
  letter-spacing: 0;
}
.theme-dark .selected-task {
  color: #fff;
  background-color: #4698f2;
}
.theme-dark .chart-row-away.chart-block-empty.selected-row {
  background-color: rgba(235, 176, 100, 0.1);
}
.theme-dark .chart-row-blue.chart-block-empty.selected-row {
  background-color: rgba(70, 152, 242, 0.1);
}
.theme-dark .badge-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  background-color: #fff;
  border-radius: 7px;
  height: 12px;
}
.theme-dark .menu-item-icon {
  font-size: 18px !important;
  min-width: 40px !important;
}
.theme-dark .menu-item-typography {
  font-size: 14px !important;
}
.theme-dark .header-task-list {
  justify-content: center;
  user-select: none;
  align-items: center;
  color: #4698f2;
}
.theme-dark .header-task-list > .MuiBox-root > .MuiTypography-body1 {
  letter-spacing: -0.11px;
  font-size: 14px;
}
.theme-dark .stat-box {
  padding: 0px 15px;
  color: #4698f2;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #565656;
  flex-direction: column;
}
.theme-dark .stat-header {
  font-family: Roboto-Medium;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-size: 12px;
}
.theme-dark .stat-block-empty {
  opacity: 0.5;
  color: white;
}
.theme-dark .chart-activity-block-active {
  opacity: 0.4;
  background-color: #4698f2;
}
.theme-dark .chart-activity-block-inactive {
  opacity: 0.4;
  background-color: #ff453a;
}
.theme-dark .chart-activity-block-grey {
  background-color: #848484;
}
.theme-dark .chart-block-blue {
  background-color: #4698f2;
}
.theme-dark .chart-block-gray {
  background: #292a2d;
}
.theme-dark .chart-block-white {
  background-color: #202124;
}
.theme-dark .chart-block-away {
  background-color: #ebb064;
}
.theme-dark .chart-line-dragg > .chart-block {
  -webkit-box-shadow: inset 0px 1px 5px 0px #0277bd;
  -moz-box-shadow: inset 0px 1px 5px 0px #0277bd;
  box-shadow: inset 0px 1px 5px 0px #0277bd;
  z-index: 1;
}
.theme-dark .chart-block {
  user-select: none;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  color: white;
}
.theme-dark .chart-block > .MuiTypography-root {
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  font-size: 12px;
}
.theme-dark .chart-block-title {
  font-family: Roboto;
}
.theme-dark .chart-highlight {
  opacity: 0.3;
  background-color: #4698f2 !important;
  z-index: 1;
}
.theme-dark .chart-popper-box {
  padding: 12px 14px;
  color: white;
  background-color: #202124;
}
.theme-dark .chart-popper-paper {
  background-color: #202124;
}
.theme-dark .popper-title {
  font-size: 14px;
  font-weight: bold;
}
.theme-dark .submenu > .MuiMenu-paper {
  color: white;
  background-color: #202124;
}
.theme-dark .submenu > .MuiMenu-paper > .MuiMenu-list > .MuiMenuItem-root > .MuiTypography-root {
  font-family: Roboto;
}
.theme-dark .submenu > .MuiMenu-paper > .MuiMenu-list > .MuiMenuItem-root > .MuiListItemIcon-root {
  color: white;
}
.theme-dark .stat-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.theme-dark .stat-footer > .MuiIconButton-root > .MuiIconButton-label {
  color: white;
}
.theme-dark .search-list-body {
  margin: 10px 0;
  border: solid 1px #565656;
  border-radius: 3px;
}
.theme-dark .search-list-subheader {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-family: Roboto-Medium;
}
.theme-dark .table-row > .MuiListItemText-root > .MuiTypography-root {
  display: flex;
  justify-content: flex-start;
}
.theme-dark .selected-project {
  background-color: #4698f2;
  color: white !important;
}
.theme-dark .selected-project:hover {
  color: white !important;
}
.theme-dark .search-item-title {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inherit;
  font-family: Roboto;
}
.theme-dark .search-item-code {
  font-weight: bold;
  width: 130px;
  min-width: 130px;
  max-width: 130px;
}
.theme-dark .search-item {
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  font-size: 14px;
}
.theme-dark .search-title {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.9;
  letter-spacing: normal;
  font-family: Roboto-Bold;
}
.theme-dark .time-field,
.theme-dark textarea {
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 7px 8px;
  background: #303133;
}
.theme-dark .time-field {
  font-family: Roboto;
  letter-spacing: -0.11px;
  width: 45% !important;
}
.theme-dark .popper-interval {
  font-size: 14px;
  padding-right: 10px;
  font-family: Roboto-Medium;
}
.theme-dark .popper-save {
  color: white;
  height: 30px !important;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #4698f2;
  height: 100%;
  margin: 0px 5px;
}
.theme-dark .sum-statistic-logged {
  color: #848484;
}
.theme-dark .sum-statistic-submitted {
  color: #00e578;
}
.theme-dark .sum-statistic-tracked {
  color: #4698f2;
}
.theme-dark .sum-time {
  font-size: 12px;
}
.theme-dark .sum-title {
  font-family: Roboto-Medium;
  font-size: 12px;
  text-transform: capitalize;
}
.theme-dark .sum-statistic {
  text-align: right;
  padding: 0px 10px;
}
.theme-dark .about-dialog-header > .MuiTypography-root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-dark .about-dialog-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-dark .about-copyright {
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: center;
}
.theme-dark .calendr-box {
  padding: 12px 14px;
  color: white;
  background-color: #202124;
}
.theme-dark .calendar-paper {
  background-color: #202124;
}
.theme-dark .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-dark .calendar-header-title {
  padding-left: 10px;
  font-size: 14px;
}
.theme-dark .calendar-field {
  width: 250px;
  margin: 0px 0px !important;
  height: 100%;
}
.theme-dark .calendar-field > .MuiInputBase-root {
  height: 100%;
  font-size: 14px;
  background-color: #37373d;
}
.theme-dark .calendar-field > .MuiInputBase-root > fieldset {
  border: 0px;
}
.theme-dark .calendar-field > .MuiInputBase-root > .MuiInputBase-input {
  color: white;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  padding: 0px 10px !important;
}
.theme-dark .calendar-week {
  min-height: 30px;
  padding: 0px 10px;
  display: flex;
  font-family: Roboto;
  font-size: 12px;
  user-select: none;
}
.theme-dark .calendar-day-names {
  color: #848484;
  font-family: Roboto-Bold;
}
.theme-dark .calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}
.theme-dark .calendar-actual-day:hover {
  border: 1px solid #4698f2;
  border-radius: 50%;
}
.theme-dark .calendar-body-stat {
  display: flex;
  border-top: solid 1px #565656;
}
.theme-dark .calendar-body {
  border-right: solid 1px #565656;
  padding: 10px 0px;
}
.theme-dark .calendar-stat {
  padding: 10px 0px;
}
.theme-dark .calendar-stat-week {
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  font-family: Roboto;
  font-size: 12px;
}
.theme-dark .calendar-stat-sum {
  font-family: Roboto-Bold;
  font-size: 12px;
}
.theme-dark .calendar-stat-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-dark .calendar-selected {
  border-radius: 50%;
  background-color: #4698f2;
  color: white;
}
.theme-dark .calendar-select-week {
  background-color: rgba(70, 152, 242, 0.1);
}

/*# sourceMappingURL=main.css.map */
