$themes: (light: ('orange-away': #ffab40,
        'border-color': #dddddd,
        'blue': #1255cc,
        'opponent': black,
        'text': black,
        'scroll-color': #565656,
        'odd-emtry-block': #f8f8f8,
        'highlight-task': #f2f2f2,
        'empty-block': white,
        'timeine-text': white,
        'logged': #848484,
        'submitted': #239f28,
        'background-color': #fff),
    dark: ('orange-away': #f5aa42,
        'border-color': #565656,
        'opponent': white,
        'blue': #4698f2,
        'scroll-color': #ddd,
        'highlight-task': #37373d,
        'empty-block': #202124,
        'odd-emtry-block': #242528,
        'text': white,
        'logged': #848484,
        'submitted': #00e578,
        'timeine-text': black,
        'background-color': #202124));


@mixin themify($themes) {

    @each $theme,
    $map in $themes {
        .theme-#{$theme} {
            $theme-map: () !global;

            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

@mixin themed {
    @include themify($themes) {
        $orange-away: themed('orange-away') !global;
        $border-color: themed('border-color') !global;
        $blue: themed('blue') !global;
        $logged: themed('logged') !global;
        $tracked: themed('tracked') !global;
        $submitted: themed('submitted') !global;
        $opponent: themed('opponent') !global;
        $scroll-color: themed('scroll-color') !global;
        $empty-block: themed('empty-block') !global;
        $text: themed('text') !global;
        $timeline-text: themed('timeline-text') !global;
        $background-color: themed('background-color') !global;
        $highlight-task: themed('highlight-task') !global;
        @content;
    }
}

@include themed {

    body {
        color: $text;
        background-color: $background-color;
    }

    @font-face {
        font-family: Roboto Bold Condensed;
        src: url(/fonts/Roboto-Light.ttf);
    }

    .login-container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 200px;
    }

    .login-button {
        color: white;
        background-color: $blue;
        font-weight: bold;
        font-size: 14px;
        text-transform: capitalize;
        margin: 20px;
    }

    .away-button {
        color: $orange-away;
        min-inline-size: fit-content;
        font-size: 15px !important;
        font-weight: 900 !important;
    }

    .away {
        color: $orange-away !important;
    }

    .submitted {
        color: $submitted !important;
    }

    .search-field {
        color: $text;

        &>.MuiInputBase-root>fieldset {
            border-color: $text;
        }

        &>.MuiInputBase-root {
            color: $text;
        }

        &>.MuiInputLabel-outlined {
            color: $text;
        }
    }

    .search-list {
        overflow: auto;
        max-height: calc(100vh - 146px);
        height: calc(100vh - 146px);
        padding: 0px 0px !important;
        background-color: $background-color;

        &>.MuiListItem-root>.MuiListItemText-root>.MuiTypography-root {
            color: $text;
        }

        &>.MuiListSubheader-root {
            color: gray;
            background-color: $background-color;
            text-transform: uppercase;
            padding-left: 10px !important;
        }
    }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.00);
        webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.00);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: $scroll-color;
        outline: 1px solid slategrey;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, .4);
    }


    .calendar-button {
        min-width: 36px;
    }

    .left-button {
        margin-right: 0px !important;

        &>.MuiButton-label {
            margin-right: -10px;
        }
    }

    .header-button {
        color: $text;
        text-transform: capitalize;
        background-color: $highlight-task;
        height: 100%;
        margin: 0px 5px;
    }

    .date-picker {
        width: 250px;
        margin: 0px 0px !important;
        height: 100%;

        &>.MuiInputBase-root {
            height: 100%;
            font-size: 14px;
            background-color: $highlight-task;

            &>fieldset {
                border: 0px;
            }

            &>.MuiInputBase-input {
                color: $text;
                width: 100%;
                font-weight: bold;
                text-align: center;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.14;
                letter-spacing: normal;
                padding: 0px 10px !important;
            }
        }
    }

    .search-close {
        color: #635f5f;
    }

    .popper-close {
        color: #635f5f;
        padding: 0;

        &>.MuiIconButton-label>.MuiSvgIcon-root {
            font-size: 13px;
        }
    }

    .submit {
        color: white;
        background-color: $blue;
    }

    .gap-dot {
        color: $border-color;
        height: 10px !important;
        width: 8px !important;
    }

    .gap {
        border-right: solid 1px $border-color;
        border-left: solid 1px $border-color;
        border-top: solid 1px $border-color;
        cursor: ew-resize;
        width: 10px;
    }

    .left {
        height: 100%;
        overflow: hidden;
        border-top: solid 1px $border-color;
    }

    .bottom-scroll {
        margin-bottom: -5px;
    }

    .middle {
        height: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        border-top: solid 1px $border-color;

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.00);
            webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.00);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: $scroll-color;
            outline: 1px solid slategrey;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(0, 0, 0, .4);
        }

    }

    .right {
        height: 100%;
        border-left: solid 1px $border-color;
        overflow: hidden;
        border-top: solid 1px $border-color;
    }

    .top-border {
        border-top: solid 1px $border-color;
    }

    .bottom-border {
        border-bottom: solid 1px $border-color;
    }

    .task-box {
        padding: 0px 15px;
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: solid 1px $border-color;
        cursor: context-menu
    }

    .timeline-box {
        height: 100%;
        display: flex;
        overflow: hidden;
        opacity: 0.5;
        color: $timeline-text;
        font-weight: 500;
        font-size: 12px;
        justify-content: center;
        user-select: none;
        align-items: center;
    }

    .highlight-task {
        background-color: mix($opponent, $background-color, 4%);
    }

    .task-badge {
        font-weight: bold;
        color: $blue;
        font-size: 9px;
    }

    .selected-task {
        color: #fff;
        background-color: $blue;
    }

    .badge-box {
        display: flex;
        justify-content: center;
        width: 58px;
        background-color: #fff;
        border-radius: 7px;
        height: 12px;
    }

    .menu-item-icon {
        font-size: 18px !important;
        min-width: 40px !important;
    }

    .menu-item-typography {
        font-size: 14px !important;
    }

    .header-task-list {
        justify-content: center;
        user-select: none;
        align-items: center;
        color: $blue;
        cursor: pointer;
    }

    .stat-box {
        padding: 0px 15px;
        color: $blue;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: solid 1px $border-color;
        flex-direction: column;
        cursor: pointer;
    }

    .chart-block-blue {
        cursor: pointer;
        background-color: $blue;
    }

    .chart-block-grey {
        background: mix($opponent, $background-color, 4%);
    }

    .chart-block-white {
        background-color: $empty-block;
    }

    .chart-block {
        user-select: none;
        flex-direction: column;
        justify-content: center;
        color: white;

        &>.MuiTypography-root {
            overflow: hidden;
            white-space: nowrap;
            margin-left: 5px;
            font-size: 12px;
        }

    }

    .chart-popper-box {
        padding: 12px 14px;
        color: $text;
        background-color: $background-color;
    }

    .chart-popper-paper {
        background-color: $background-color;
    }

    .popper-title {
        font-size: 14px;
        font-weight: bold;
    }

    .submenu {
        &>.MuiMenu-paper {
            color: $text;
            background-color: $background-color;

            &>.MuiMenu-list>.MuiMenuItem-root>.MuiListItemIcon-root {
                color: $text;
            }
        }
    }

    .stat-footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &>.MuiIconButton-root>.MuiIconButton-label {
            color: $text;
        }
    }

    .table-row {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .time-field,
    textarea {
        color: $text;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        padding: 7px 8px;
        background: mix($opponent, $background-color, 7%);
    }

    .time-field {
        width: 45% !important;
    }

    .popper-interval {
        font-size: 14px;
        padding-right: 10px;
    }

    .popper-save {
        color: white;
        height: 30px !important;
        font-weight: bold;
        text-transform: capitalize;
        background-color: $blue;
        height: 100%;
        margin: 0px 5px;
    }

    .sum-statistic-logged {
        color: $logged;
    }

    .sum-statistic-submitted {
        color: $submitted;
    }

    .sum-statistic-tracked {
        color: $blue;
    }

    .sum-time {
        font-size: 12px;
        font-weight: bold;
    }

    .sum-title {
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize;
    }

    .sum-statistic {
        padding: 0px 10px;
    }
}
