$themes: (light: ('orange-away': #ffab40,
        'border-color': #dddddd,
        'blue': #1255cc,
        'opponent': black,
        'text': black,
        'scroll-color': rgba(0, 0, 0, 0.5),
        'odd-emtry-block': #f8f8f8,
        'highlight-task': #f2f2f2,
        'empty-block': white,
        'logged': #848484,
        'submitted': #239f28,
        'active':#1255cc,
        'inactive':#ff0000,
        'active-grey': #dddddd,
        'background-color': #fff),
    dark: ('orange-away': #ebb064,
        'border-color': #565656,
        'opponent': white,
        'blue': #4698f2,
        'scroll-color': rgba(255, 255, 255, 0.5),
        'highlight-task': #37373d,
        'empty-block': #202124,
        'odd-emtry-block': #242528,
        'text': white,
        'logged': #848484,
        'submitted': #00e578,
        'active':#4698f2,
        'inactive':#ff453a,
        'active-grey':#848484,
        'background-color': #202124));

@mixin themify($themes) {

    @each $theme,
    $map in $themes {
        .theme-#{$theme} {
            $theme-map: () !global;

            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

@mixin themed {
    @include themify($themes) {
        $orange-away: themed('orange-away') !global;
        $border-color: themed('border-color') !global;
        $blue: themed('blue') !global;
        $logged: themed('logged') !global;
        $tracked: themed('tracked') !global;
        $submitted: themed('submitted') !global;
        $opponent: themed('opponent') !global;
        $scroll-color: themed('scroll-color') !global;
        $empty-block: themed('empty-block') !global;
        $text: themed('text') !global;
        $background-color: themed('background-color') !global;
        $highlight-task: themed('highlight-task') !global;
        $active: themed('active') !global;
        $inactive: themed('inactive') !global;
        $active-grey: themed('active-grey') !global;
        @content;
    }
}

@font-face {
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    letter-spacing: normal;
    font-family: Roboto-Medium;
    src: url(../font/Roboto-Medium.ttf);
}

@font-face {
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    font-family: Roboto-Bold;
    src: url(../font/Roboto-Bold.ttf);
}

@include themed {

    body {
        color: $text;
        background-color: $background-color;
    }

    .login-container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 200px;
    }

    .login-button {
        color: white;
        background-color: $blue;
        font-weight: bold;
        font-size: 14px;
        text-transform: capitalize;
        margin: 20px;
    }

    .away-button {
        color: $orange-away;
        min-inline-size: fit-content;
        font-size: 15px !important;
        font-weight: 900 !important;
    }

    .away {
        color: $orange-away !important;

        &>.MuiBox-root {
            justify-content: center;

            &>.MuiTypography-body1 {
                font-size: 14px;
            }
        }

        &.selected-task {
            color: #fff !important;
            background-color: $orange-away;
        }

        &.selected-row {
            background-color: rgba(235, 176, 100, 0.1);
        }
    }

    .stat-blue {
        &.selected-row {
            background-color: rgba(70, 152, 242, 0.1);
        }
    }



    .submitted {
        color: $submitted !important;
    }

    .search-field {
        color: $text;
        background-color: $highlight-task;
        border-radius: 5px;

        &>.MuiInputBase-root>fieldset {
            border-color: $text;
        }

        &>.MuiInputBase-root {
            color: $text;

            &>.MuiOutlinedInput-input {
                padding: 14px 14px;
                font-size: 14px;
                border: none;
                font-family: Roboto;
            }

            &>.MuiOutlinedInput-notchedOutline {
                border: none;
            }
        }

        &>.MuiInputLabel-outlined {
            color: $text;
        }

    }

    .search-list {
        overflow: auto;
        max-height: calc(100vh - 140px);
        height: calc(100vh - 140px);
        padding: 0px 0px !important;
        background-color: $background-color;

        &>.MuiListItem-root:not(.selected-project)>.MuiListItemText-root>.MuiTypography-root {
            color: $text;
        }

        &>.MuiListSubheader-root {
            color: gray;
            background-color: $background-color;
            text-transform: uppercase;
            padding-left: 10px !important;
        }
    }

    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
        webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: $scroll-color;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: darken($scroll-color, 10%);
    }


    .calendar-button {
        min-width: 36px;
    }

    .left-button {
        margin-right: 0px !important;

        &>.MuiButton-label {
            margin-right: -10px;
        }
    }

    .header-button {
        color: $text;
        text-transform: capitalize;
        background-color: $highlight-task;
        height: 100%;
        margin: 0px 5px;
    }

    .MuiButton-contained {
        box-shadow: none;

        &.Mui-disabled {
            background-color: $highlight-task;
        }
    }

    .date-picker {
        width: 250px;
        margin: 0px 0px !important;
        height: 100%;

        &>.MuiInputBase-root {
            height: 100%;
            font-size: 14px;
            background-color: $highlight-task;

            &>fieldset {
                border: 0px;
            }

            &>.MuiInputBase-input {
                color: $text;
                width: 100%;
                font-weight: bold;
                text-align: center;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.14;
                letter-spacing: normal;
                padding: 0px 10px !important;
            }
        }
    }

    .search-close {
        padding: 10px;
        color: #635f5f;
    }

    .popper-close {
        color: #635f5f;
        padding: 0;

        &>.MuiIconButton-label>.MuiSvgIcon-root {
            font-size: 13px;
        }
    }

    .submit {
        width: 106px;
        color: white;
        background-color: $blue;
    }

    .gap-dot {
        color: $border-color;
        font-size: 30px;
    }

    .gap {
        border-right: solid 1px $border-color;
        border-left: solid 1px $border-color;
        border-top: solid 1px $border-color;
        cursor: ew-resize;
        width: 10px;
    }

    .left {
        height: 100%;
        overflow: hidden;
        border-top: solid 1px $border-color;
    }

    .bottom-scroll {
        margin-bottom: -5px;
    }

    .middle {
        height: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        border-top: solid 1px $border-color;

        &::-webkit-scrollbar {
            height: 4px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
            webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: $scroll-color;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: darken($scroll-color, 10%);
        }

    }

    .right {
        height: 100%;
        border-left: solid 1px $border-color;
        overflow: hidden;
        border-top: solid 1px $border-color;
    }

    .top-border {
        border-top: solid 1px $border-color;
    }

    .bottom-border {
        border-bottom: solid 1px $border-color;
    }

    .task-box {
        padding: 0px 15px;
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: solid 1px $border-color;
    }


    .timeline-box {
        height: 100%;
        display: flex;
        overflow: hidden;
        opacity: 0.5;
        font-weight: 500;
        font-size: 12px;
        justify-content: center;
        user-select: none;
        align-items: center;
        font-family: Roboto-Medium;
    }

    .highlight-task {
        background-color: mix($opponent, $background-color, 4%);
    }

    .task-badge {
        font-size: 9px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $blue;
    }

    .task-desc {
        &>.MuiTypography-body1 {
            font-family: Roboto;
            letter-spacing: 0;
        }
    }

    .selected-task {
        color: #fff;
        background-color: $blue;
    }

    .chart-row-away {
        &.chart-block-empty {
            &.selected-row {
                background-color: rgba(235, 176, 100, 0.1);
            }
        }
    }

    .chart-row-blue {
        &.chart-block-empty {
            &.selected-row {
                background-color: rgba(70, 152, 242, 0.1);
            }
        }
    }

    .badge-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        background-color: #fff;
        border-radius: 7px;
        height: 12px;
    }

    .menu-item-icon {
        font-size: 18px !important;
        min-width: 40px !important;
    }

    .menu-item-typography {
        font-size: 14px !important;
    }

    .header-task-list {
        justify-content: center;
        user-select: none;
        align-items: center;
        color: $blue;

        &>.MuiBox-root {
            &>.MuiTypography-body1 {
                letter-spacing: -0.11px;
                font-size: 14px;
            }
        }
    }

    .stat-box {
        padding: 0px 15px;
        color: $blue;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: solid 1px $border-color;
        flex-direction: column;
    }

    .stat-header {
        font-family: Roboto-Medium;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
        font-size: 12px;
    }

    .stat-block-empty {
        opacity: 0.5;
        color: $text;
    }

    .chart-activity-block-active {
        opacity: 0.4;
        background-color: $active;
    }

    .chart-activity-block-inactive {
        opacity: 0.4;
        background-color: $inactive;
    }

    .chart-activity-block-grey {
        background-color: $active-grey;
    }

    .chart-block-blue {
        background-color: $blue;
    }

    .chart-block-gray {
        background: mix($opponent, $background-color, 4%);
    }

    .chart-block-white {
        background-color: $empty-block;
    }

    .chart-block-away {
        background-color: $orange-away;
    }

    .chart-line-dragg {
        &>.chart-block {
            -webkit-box-shadow: inset 0px 1px 5px 0px rgba(2, 119, 189, 1);
            -moz-box-shadow: inset 0px 1px 5px 0px rgba(2, 119, 189, 1);
            box-shadow: inset 0px 1px 5px 0px rgba(2, 119, 189, 1);
            z-index: 1;
        }
    }

    .chart-block {
        user-select: none;
        flex-direction: column;
        justify-content: center;
        z-index: 100;
        color: white;

        &>.MuiTypography-root {
            overflow: hidden;
            white-space: nowrap;
            margin-left: 5px;
            font-size: 12px;
        }

    }

    .chart-block-title {
        font-family: Roboto;
    }

    .chart-highlight {
        opacity: 0.3;
        background-color: $blue !important;
        z-index: 1;
    }

    .chart-popper-box {
        padding: 12px 14px;
        color: $text;
        background-color: $background-color;
    }

    .chart-popper-paper {
        background-color: $background-color;
    }

    .popper-title {
        font-size: 14px;
        font-weight: bold;
    }

    .submenu {
        &>.MuiMenu-paper {
            color: $text;
            background-color: $background-color;

            &>.MuiMenu-list>.MuiMenuItem-root>.MuiTypography-root {
                font-family: Roboto;
            }

            &>.MuiMenu-list>.MuiMenuItem-root>.MuiListItemIcon-root {
                color: $text;
            }
        }
    }

    .stat-footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &>.MuiIconButton-root>.MuiIconButton-label {
            color: $text;
        }
    }

    .search-list-body {
        margin: 10px 0;
        border: solid 1px $border-color;
        border-radius: 3px;
    }

    .search-list-subheader {
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        font-family: Roboto-Medium;
    }

    .table-row {
        &>.MuiListItemText-root {
            &>.MuiTypography-root {
                display: flex;
                justify-content: flex-start;
            }
        }
    }

    .selected-project {
        background-color: $active;
        color: white !important;

        &:hover {
            color: $text !important;
        }
    }

    .search-item-title {
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inherit;
        font-family: Roboto;
    }

    .search-item-code {
        font-weight: bold;
        width: 130px;
        min-width: 130px;
        max-width: 130px;
    }

    .search-item {
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        font-size: 14px;
    }

    .search-title {
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.9;
        letter-spacing: normal;
        font-family: Roboto-Bold
    }

    .time-field,
    textarea {
        color: $text;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        padding: 7px 8px;
        background: mix($opponent, $background-color, 7%);
    }

    .time-field {
        font-family: Roboto;
        letter-spacing: -0.11px;
        width: 45% !important;
    }

    .popper-interval {
        font-size: 14px;
        padding-right: 10px;
        font-family: Roboto-Medium;
    }

    .popper-save {
        color: white;
        height: 30px !important;
        font-weight: bold;
        text-transform: capitalize;
        background-color: $blue;
        height: 100%;
        margin: 0px 5px;
    }

    .sum-statistic-logged {
        color: $logged;
    }

    .sum-statistic-submitted {
        color: $submitted;
    }

    .sum-statistic-not-submitted {
        color: $inactive!important;
    }

    .sum-statistic-tracked {
        color: $blue;
    }

    .sum-time {
        font-size: 12px;
    }

    .sum-title {
        font-family: Roboto-Medium;
        font-size: 12px;
        text-transform: capitalize;
    }

    .sum-statistic {
        text-align: right;
        padding: 0px 10px;
    }

    .about-dialog-header {
        &>.MuiTypography-root {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .about-dialog-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-copyright {
        width: 100%;
        display: flex;
        padding-top: 20px;
        justify-content: center;
    }

    .calendr-box {
        padding: 12px 14px;
        color: $text;
        background-color: $background-color;
    }

    .calendar-paper {
        background-color: $background-color;
    }

    .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .calendar-header-title {
        padding-left: 10px;
        font-size: 14px;
    }

    .calendar-field {
        width: 250px;
        margin: 0px 0px !important;
        height: 100%;
        &>.MuiInputBase-root {
            height: 100%;
            font-size: 14px;
            background-color: $highlight-task;

            &>fieldset {
                border: 0px;
            }

            &>.MuiInputBase-input {
                color: $text;
                width: 100%;
                font-weight: bold;
                text-align: center;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.14;
                letter-spacing: normal;
                padding: 0px 10px !important;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    }

    .calendar-week {
        min-height: 30px;
        padding: 0px 10px;
        display: flex;
        font-family: Roboto;
        font-size: 12px;
        user-select: none;
    }

    .calendar-day-names {
        color: $logged;
        font-family: Roboto-Bold;
    }

    .calendar-day {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
    }

    .calendar-actual-day {
        &:hover {
            border: 1px solid $blue;
            border-radius: 50%;
        }
    }

    .calendar-body-stat {
        display: flex;
        border-top: solid 1px $border-color;
    }

    .calendar-body {
        border-right: solid 1px $border-color;
        padding: 10px 0px;
    }

    .calendar-stat {
        padding: 10px 0px;
    }

    .calendar-stat-week {
        min-width: 200px;
        display: flex;
        justify-content: space-around;
        font-family: Roboto;
        font-size: 12px;
    }

    .calendar-stat-sum {
        font-family: Roboto-Bold;
        font-size: 12px;
    }

    .calendar-stat-cell {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calendar-selected {
        border-radius: 50%;
        background-color: $blue;
        color: white;
    }

    .calendar-select-week {
        background-color: rgba(70, 152, 242, 0.1);
    }

    .calendar-not-submitted {
        border-radius: 50%;
        background-color: $inactive;
    }

    .badge {
        height: 100%;
    }

    .MuiButtonBase-root {
        cursor: default;
    }
}
